<div fxLayout="row" fxLayoutWrap="wrap">
  <div fxFlex.gt-sm="66.66%" fxFlex="100">
    <md-card>
      <div class="gene-card-title">
        <div fxLayout="row" fxLayoutAlign="start center">
          <div fxLayout="column">
            <h4>Dein Profil</h4>
          </div> <span fxFlex></span>
          <button md-icon-button>
            <md-icon>add</md-icon>
          </button>
        </div>
        <md-divider></md-divider>
      </div>
      <div class="gene-card-content">
        <p>Diese Daten werden ausschließlich für die Terminbuchung und das Anamneseblatt mit deinem Gesundheitsdienstleister verwendet.
          Es erspart dir und dem Arzt bei deinem Besuch Zeit, sodass sich der Mediziner mehr Zeit für dich nehmen kann.</p>
        <form>
          <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-between center">
            <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
              <md-input-container class="full-wid">
                <input mdInput placeholder="Vorname" value="Valentin">
              </md-input-container>
            </div>
            <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100">
              <md-input-container class="full-wid">
                <input mdInput placeholder="Nachname" value="Gensthaler">
              </md-input-container>
            </div>
          </div>

        </form>
      </div>
    </md-card>
    <md-card>
      <div class="gene-card-title">
        <div fxLayout="row" fxLayoutAlign="start center">
          <div fxLayout="column">
            <h4>Deine Familie</h4>
          </div> <span fxFlex></span>
          <button md-icon-button (click)="openDialog()">
            <md-icon>add</md-icon>
          </button>
        </div>
        <md-divider></md-divider>
      </div>
      <div class="gene-card-content">
        <p>Verbinde dich mit deinen persönlichen Gesundheitsdienstleistern und schalte besondere Funktionen frei. Neben Pins und Benachrichtigungen kannst du ihnen Nachrichten und mehr schicken.</p>
        <md-list>
          <md-list-item *ngFor="let familyMember of familyMembers">
            <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start" style="width: 100%; vertical-align: middle">
              <div fxFlex.gt-sm="20" fxFlex="100" class="padding">
                <h4 style="margin-bottom: 0">{{familyMember.name}}</h4>
              </div>
              <div fxFlex.gt-sm="20" fxFlex="100" class="padding">
                <p style="margin-bottom: 0">{{familyMember.role}}</p>
              </div>
              <div fxFlex.gt-sm="20" fxFlex="100" class="padding">
                <button md-button>Nachricht senden</button>
              </div>
              <div fxFlex.gt-sm="10" fxFlex="100" class="padding">

              </div>
              <div fxFlex.gt-sm="10" fxFlex="100" class="padding">
                <md-icon>person_pin</md-icon>
              </div>
              <div fxFlex.gt-sm="10" fxFlex="100" class="padding">
                <md-icon>visibility</md-icon>
              </div>
              <div fxFlex.gt-sm="10" fxFlex.gt-xs="39" fxFlex="100">
                <md-icon md-icon-button [mdMenuTriggerFor]="menu_expert">
                  <md-icon>more_vert</md-icon>
                </md-icon>
                <md-menu #menu_expert="mdMenu">
                  <button md-menu-item>
                    <md-icon>dialpad</md-icon>
                    <span>Historie</span>
                  </button>
                  <button md-menu-item>
                    <md-icon>voicemail</md-icon>
                    <span>Anrufen</span>
                  </button>
                  <button md-menu-item>
                    <md-icon>voicemail</md-icon>
                    <span>Zurgiffsrecht</span>
                  </button>
                </md-menu>
              </div>
            </div>
            <md-divider></md-divider>
          </md-list-item>
        </md-list>
      </div>
    </md-card>
  </div>
  <div fxFlex.gt-sm="33.33%" fxFlex="100">

  </div>
</div>
